<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ path('landing') }}"><span class="fw-bold text-primary">Pin</span><span
                    class="fw-normal">boardable</span></a>
        <div class="navbar gap-3">
            <a class="nav-link" aria-current="page" href="{{ path('create_pin') }}">
                <i class="bi  {{ app.request.attributes.get('_route') == 'create_pin' ? ' bi-plus-circle-fill' : ' bi-plus-circle' }} fs-2"></i>
            </a>
        </div>
    </div>
</nav>